<!-- template homeBG -->
<script type="text/html" id="messageT">
  <li id='li{{= it.dataMessageid}}' class='cl active' style='top:{{= it.topLimit}}px;left:{{?it.isNew}}{{= it.translateSide}}px{{??!it.isNew}}0px}}{{??}}{{?}}' data-left='{{= it.left}}' data-messageId={{= it.messageid}}><div class='comment-staff-wrapper fl'><p class='comment-date'>{{= it.currDateStr}}</p><div class='comment-head'><img src='{{= it.imgUrl}}'></div></div><div class='comment-info-wrapper fl'><div class='comment-info'><h3 class='comment-name'>{{= it.name}}</h3><p class='commnet-con'>{{= it.message}}</p></div></div></li>
  </script>


